.page-body {
  position: relative;
}

.page-body img {
  width: 100%;
  height: auto;
  z-index: -100;
}

.page-body-text {
  position: absolute;
  top: 25%;
  left: 75%;
}

.page-body h1 {
  color: var(--color-white);
}

.page-body div {
  color: var(--color-white);
}
