body {
  background-color: var(--color-light-orange);
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.root img {
  width: 20%;
  height: auto;
}

.root button {
  color: var(--color-black);
  background-color: var(--color-light-orange);
  border-radius: 10px;
  margin: 5%;
  padding: 2%;
  border-width: 2px;
  border-color: var(--color-black);
  transition: 0.2s;
  padding: 5%;
}

.root button:hover {
  border-style: solid;
  border-color: var(--color-strong-orange);
  border-width: 2px;
}

.root button:active {
  background-color: var(--color-white);
}
