.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-light-orange);
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
  background-color: var(--color-light-orange);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(-1rem);
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.4s;
}

.footer .image:hover {
  transform: translateY(-3rem);
  cursor: pointer;
}

.footer .image:before {
  content: '';
  position: absolute;
  background-color: var(--color-white);
  top: 1rem;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  pointer-events: none;
  box-shadow: 1rem 1rem 0 0 var(--color-light-orange);
}

.footer .image:after {
  content: '';
  position: absolute;
  background-color: var(--color-white);
  top: 1rem;
  right: -2rem;
  width: 2rem;
  height: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  pointer-events: none;
  box-shadow: -1rem 1rem 0 0 var(--color-light-orange);
}

.footer img {
  z-index: 100;
  height: 3rem;
  width: auto;
  transform: translateY(0.5rem);
  position: relative;
}
